html {
    background: rgb(38, 38, 38);
}

hr {
    border-top: 1px;
    border-color: rgb(136, 136, 136);
    width: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fjalla One";
    cursor: url('/images/flower.svg'), default;
    min-height: 100vh;
    max-width: 100%;
    margin: 5px 0px 0px 0px;
    color: rgb(136, 136, 136);
    border-top: 1px solid rgb(136, 136, 136);
    border-bottom: 1px solid rgb(136, 136, 136);
    background: linear-gradient(180deg,
            rgb(38, 38, 38) 0%,
            rgba(19, 19, 19, 1) 50%,
            rgba(0, 0, 0, 1) 100%);
}

.hero {
    text-align: center;
    width: 100%;
    max-width: 90%;
}

.section-content {
    width: 100%;
    max-width: 1200px;
}

#logo {
    min-height: 50px;
    height: 100px;
    margin-top: 80px;
    justify-self: center;
}

.hero-headline {
    text-decoration: underline;
    text-decoration-color: #424AF9;
    font-size: xx-large;
}

.hero-subheadline {
    font-size: small;
}

.align-right {
    text-align: right;
    justify-items: end;
}

.subtext {
    font-family: 'Arimo';
}

.text {
    font-size: 14px;
}

.glass {
    margin: 5px;
    display: block;
    min-height: 100px;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border-width: 10px;
    color: rgb(75, 75, 75);
    border-color: rgb(136, 136, 136);
    backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(263deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0.55) 50%,
            rgba(255, 255, 255, 0.8) 100%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.4s ease-in;
    opacity: 50%;
}

.horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    text-align: end;
    justify-content: flex-end;
    padding: 15px;
    min-height: 200px;
    filter: grayscale(1);
    border: 3px solid rgb(116, 116, 116);
    font-size: x-large;
    color: rgb(136, 136, 136);
}

.subtext {
    font-size: small;
    font-family: 'Arimo';
    margin-left: 20px;
}

.glass:hover {
    opacity: 100%;
}

nav {
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: medium;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: rgb(136, 136, 136);
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

a:hover {
    cursor: url('/images/circle.svg'), default;
}

button {
    cursor: url('/images/flower-active.svg'), default;
}

.trigger {
    cursor: url('/images/flower-active.svg'), default;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    z-index: 999;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid grey;
    border-radius: 5px;
    color: rgb(221, 221, 221);
}

.heading-glass {
    text-transform: uppercase;
    color: #2f315b;
}

.material-icons {
    font-family: 'Material Icons';
    font-size: xx-large;
}